@charset "utf-8";
/* common.css */

@keyframes slowflow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#wrap {
    min-width: 1480px;
}

/* 헤더 */
#header {
    position: relative;
    z-index: 500;
}
#head_in {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}
#h_logo a {
    display: block;
    width: 75px;
    height: 75px;
    margin-top: 18px;
    text-indent: -9999px;
    background-image: url(../img/logo.png);
}
/* gnb */
#gnb {
    margin-top: 60px;
}
#gnb > ul {
    display: flex;
    justify-content: space-between;
}
#gnb > ul > li.active {
    background-color: #222;
}
#gnb > ul > li {
    padding: 0 14px;
    z-index: 500;
}
#gnb > ul > li > a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 0;
    color: #333;
}
#gnb > ul > li:last-child {
    padding-right: 8px;
}
#gnb .depth2 {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #222;
    z-index: 200;
}
#gnb .depth2 > ul {
    display: flex;
    width: 1440px;
    margin: 0 auto;
}
#gnb .depth2 > ul > li {
    box-sizing: border-box;
    width: 20%;
    padding: 25px 20px;
}
#gnb .depth2 > ul > li > a {
    display: block;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 700;
    color: #333;
}
#gnb .depth3 li {
    margin-bottom: 10px;
}
#gnb .depth3 > li > a {
    color: #ccc;
    font-size: 13px;
}
/* 서브 gnb */
.sub_gnb {
    width: 1440px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: -30px;
}
.sub_gnb ul {
    display: flex;
    justify-content: right;
}
.sub_gnb li {
    display: inline-block;
}
.sub_gnb li::after {
    content: '';
    display: inline-block;
    margin: 0 10px;
    height: 10px;
    border-right: 1px solid #ccc;
}
.sub_gnb li:last-child::after {
    display: none;
}
.sub_gnb li a {
    color: #222;
    font-size: 14px;
}
.sub_gnb li:hover > a {
    text-decoration: underline;
}
.sub_gnb .icon_search {
    width: 24px;
}
.sub_gnb .icon_search a {
    display: block;
    width: 100%;
    height: 24px;
    background-image: url(../img/find_search_icon.png);
    background-size: 100%;
    text-indent: -9999px;
}
/* 고정버튼 */
.fixedBtns {
    position: fixed;
    top: 150px;
    right: 30px;
    z-index: 1000;
}
.gotoTop {
    position: fixed;
    right: 80px;
    bottom: 80px;
    opacity: 0;
    transition: 0.3s;
}
.gotoTop a {
    box-sizing: border-box;
    display: block;
    width: 56px;
    height: 56px;
    padding-top: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    color: #252525;
    background-image: url(../img/arrow_upward.png);
    background-position: top 6px center;
    background-repeat: no-repeat;
    background-color: rgba(202, 182, 182, 0.5);
}

/* 푸터 footer */

/* 푸터 메뉴 */
.foot1 {
    padding-top: 40px;
    border-bottom: 1px solid rgba(116, 116, 116, 0.4);
    background-color: #2c2a29;
}
.f1_in {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.f_menu {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin-bottom: 50px;
    color: #f7f7f7;
}
.f_menu div a {
    color: rgb(247, 247, 247);
}
.f_menu div a:hover {
    text-decoration: underline;
}
.f_menu > div h4 {
    margin-bottom: 12px;
}
.f_menu > div p {
    margin-bottom: 8px;
}
.f_logo {
    width: 26px;
    height: 160px;
    background-image: url(../img/footerlogo_05.jpg);
    background-repeat: no-repeat;
}
/* 푸터 2 award */
.foot2 {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #272727;
}
.f2_in {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.f_award_wrap {
    display: flex;
    overflow: hidden;
}
.f_award {
    display: flex;
    justify-content: center;
    animation: slowflow 20s linear infinite;
    padding-right: 50px;
}
.f_award p {
    margin-right: 10px;
    margin-bottom: 60px;
    height: auto;
}
.f_award p a {
    display: block;
    height: 40px;
    font-size: 12px;
    text-indent: -9999px;
}
.award_1 a {
    width: 141px;
    background-image: url(../img/footer_award_2211_01.jpg);
}
.award_2 a {
    width: 140px;
    background-image: url(../img/footer_award_2211_02.jpg);
}
.award_3 a {
    width: 163px;
    background-image: url(../img/footer_award_2211_03.jpg);
}
.award_4 a {
    width: 228px;
    background-image: url(../img/footer_award_2211_04.jpg);
}
.award_5 a {
    width: 228px;
    background-image: url(../img/footer_award_2211_05.jpg);
}
.award_6 a {
    width: 170px;
    background-image: url(../img/footer_award_2211_06.jpg);
}
.award_7 a {
    width: 111px;
    background-image: url(../img/footer_award_2211_07.jpg);
}
/* 푸터 이용약관 */
.f_policy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.f_policy p a {
    color: #e6e6e6;
}
.f_policy p a:hover {
    text-decoration: underline;
}
.f_policy .f_green a {
    color: #02a06b;
    font-weight: 600;
}
.bar {
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: rgba(87, 87, 87, 0.4);
}
.f_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.f_btn p {
    margin-right: 4px;
    margin-left: 4px;
}
.f_btn p a {
    padding: 2px 18px;
    padding-bottom: 4px;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    color: rgb(248, 248, 248);
}
.f_btn p a:hover {
    text-decoration: underline;
}
.f_info,
.f_right {
    text-align: center;
    color: #999;
}
.f_info {
    margin-bottom: 10px;
}
.bar2 {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #272727;
}
