@charset "utf-8";
/* main.css */

/* main1 본문1 */
.main1{
    margin-bottom: 100px;
    background-image: url(../img/mainbn.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.m1_in{
    position: relative;
    width: 1440px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
}         
.m1_in p a{
    position: absolute;
    bottom: 180px;
    left: 50%;
    margin-left: -550px;
    padding: 4px 30px;
    padding-bottom: 6px;
    border: 2px solid #58472f;
    border-radius: 16px;
    color: #684313;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
}                      
.m1_in p a:hover{
    color: #fff;
    background-color: #ad8155;
    border: 2px solid #ad8155;
    box-shadow: 1px 2px 4px rgba(34, 34, 34, 0.3);
    transition: 0.3s;
}  
/* 본문2 - 프로모션 */
.main2{
    margin-bottom: 100px;
}
.m2_in{
    width: 1360px;
    margin: 0 auto;
}
.main_title{
    margin-bottom: 60px;
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}
/* 좌우버튼에 적용 된 공통 클래스 */
.m2_list .slick-arrow{
    position: absolute;
    top: 138px;
    width: 30px;
    height: 30px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 100;
}
.m2_list .slick-prev{
    left: -40px;
    background-image: url(../img/icons8_prev_circle50.png);
}
.m2_list .slick-next{
    right: -40px;
    background-image: url(../img/icons8_next_circle50.png);
}
.m2_list div a{
    color: #222;
}
.m2_list .m2_photo{
    box-sizing: border-box;
    margin: 0 20px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.m2_list .txt{
    box-sizing: border-box;
    height: 140px;
    margin: 0 20px;
    padding-top: 16px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    background-color: rgb(247, 234, 218);
}
.m2_list .txt .m2_t1{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
}
.m2_list .txt .m2_t2{
    margin-bottom: 12px;
    font-weight: 500;
    color: #666;
}
.m2_photo img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.more{
    display: inline-block;
    padding: 2px 24px;
    padding-bottom: 4px;
    border: 2px solid #6e532f;
    border-radius: 10px;
    color: #6e532f;
    font-size: 16px;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
}
.more:hover{
    border: 2px solid #977446;
    background-color: #977446;
    color: #ffffff;
    box-shadow: 1px 2px 4px rgba(34, 34, 34, 0.2);
    transition: 0.4s;
}
/* 본문3 */
.main3{
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
.main3 .main_title{
    margin-bottom: 96px;
    text-align: left;
}
.m3_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
}
.m3_menu p{
    margin-bottom: 40px;
    border-bottom: 1px solid #999;
}
.m3_menu p a{
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8em;
}

.m3_menu .active{
    border-bottom: 2px solid #436153;
}
.m3_menu .active a{
    color: #1c7e64;
    font-weight: 700;
}
.m3_list{
    display: none;
}
.m3_list.active{
    display: block;
}
.m3_list ul{
    display: flex;
    justify-content: space-between;
    width: 1220px;
}
.m3_list li{
    width: 280px;
}
.list_photo{
    width: 280px;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.1);
}
.list_photo img{
    width: 100%;
    object-fit: cover;
    transition: 0.6s;
}
.list_photo:hover img{
    scale: 1.1;
    transition: 0.5s;
}
.m3_list li a{
    text-align: center;
    color: #222;
    font-size: 16px;
}

/* 본문4 */
.main4{
    position: relative;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1e3932;
}
.main4::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #d9e8e3;
}
.main4_in{
    position: relative;
    display: flex;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.m4_left{
    width: 720px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
.m4_left .m4_rewardLogo{
    width: 200px;
    height: 180px;
    margin-left: 200px;
    margin-bottom: 30px;
    text-indent: -9999px;
    background-image: url(../img/rewards_logo.png);
    background-size: 200px auto;
    background-repeat: no-repeat;
}
.m4_left .m4_t1{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
}
.m4_left .m4_t2{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
}
.m4_btn{
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.m4_btn p{
    width: 100px;
    margin-right: 12px;
}
.m4_btn > p > a{
    display: block;
    border-radius: 8px;
    color: #fff;
}
.m4_btn .m4_bt1 > a{
    padding: 5px 6px 7px 6px;
    background-color: #00704a;
}
.m4_btn .m4_bt2 > a{
    padding: 4px 6px 6px 6px;
    border: 1px solid #fff;
}
.btn_prev button, .btn_next button{
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    background-size: 100%;
}
.btn_prev button{
    background-image: url(../img/icons8_prev_circle50.png);
}
.btn_next button{
    background-image: url(../img/icons8_next_circle50.png);
}
.m4_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 664px;
    margin-left: 200px;
}
.m4_right .m4_reserveLogo{
    width: 551px;
    height: 51px;
    margin-bottom: 50px;
    text-indent: -9999px;
    background-image: url(../img/221212_reserve_top_logo.png);
}
.m4_reserve{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m4List{
    width: 500px;
}
.m4_photo{
    width: 250px;
    height: 250px;
}
.m4_photo a{
    display: block;
    margin: 10px;
}
.m4_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 본문5 */
.main5{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
.m5_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m5_list_wrap{
    width: 1320px;
}
.m5_list_wrap a{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 330px;
}
.m5_list_wrap .list_photo{
    width: 310px;
    height: 310px;
}
.m5_list_wrap .list_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.m5_list_wrap .m5_name{
    color:#222;
    font-size: 16px;
    text-align: center;
}
/* 본문6 - 인스타그램. */
.main6{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}
.main6 .main_title{
    margin-bottom: 60px;
}
.m6_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m6_list_wrap{
    width: 1320px;
}
.m6_list_wrap > div > a{
    display: block;
    box-sizing: border-box;
    width: 330px;
    padding: 10px;
}
.m6_list_wrap .m6_photo{
    width: 310px;
    height: 310px;
    border-radius: 20px;
    overflow: hidden;
}
.m6_list .m6_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 본문7 - 프로모션배너 */
.main7{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.main7 p{
    width: 710px;
}
.main7 p img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
